#/**/*

!.gitignore
!.htaccess
!userProfile
!userProfile/**/*
!/page/**/*
!project
!project/**/*
!employee/**/*
!article/**/*
!history/**/*
!projectFlat/**/*
!projectProgress/**/*
!projectLayout/**/*
